<%= simple_form_for(@invoice) do |f| %>
    <div class="row" ng-controller="InvoiceCtrl" >


      <div class="large-8 columns" style="border: 1px solid #dddddd;" >

        <div class="row">
          <div class="panel radius text-center" style="margin:10px;height: 50px;">
            <h4>Invoice</h4>
          </div>
        </div>

        <div class="row">
          <div class="large-6 columns">
            <!--<input type="text" name="invoice_from" placeholder="Invoice from?" id="invoice_from"/>-->
            <div class="row">
              <div class="large-12 columns">
                <textarea name="invoice_from" placeholder="Invoice from?" class="radius"></textarea>
              </div>
              <div class="large-12 columns">
                <textarea name="invoice_to" placeholder="Invoice to?" class="radius"></textarea>
              </div>
            </div>
          </div>


          <div class="large-6 columns">
            <div class="row collapse">
              <div class="large-4 columns">
                <span class="prefix">Invoice number</span>
              </div>
              <div class="large-8 columns">
                <!--<input type="text" name="invoice_number" class="radius" id="invoice_number"/>-->
                <%= f.text_field :invoice_number , "ng-model" => "invoice_number" , :class=> "radius"%>
              </div>
            </div>
            <div class="row collapse">
              <div class="large-4 columns">
                <span class="prefix">Date</span>
              </div>
              <div class="large-8 columns">
                <%= f.text_field :date , :class=> "radius" %>
              </div>
            </div>
            <div class="row collapse">
              <div class="large-4 columns">
                <span class="prefix">Due date</span>
              </div>
              <div class="large-8 columns">
                <%= f.text_field :due_date , :class=> "radius"%>
              </div>
            </div>
          </div>


        </div>

        <!--items start-->
        <div class="row">
          <div class="large-12 columns">
            <table ng-init="initRows ('<%= @invoice.products.to_json %>')">
              <thead>
              <tr>
                <th width="5%"></th>
                <th width="50%">Description</th>
                <th width="10%">Quantity</th>
                <th width="15%">Rate</th>
                <th width ="20%">Amount</th>
              </tr>
              </thead>


              <tr ng-repeat="line_item in line_items" class="{{line_item.class}}">
                <%= f.fields_for :products, Product.new, child_index: '{{$index}}'  do |product_form| %>
                    <td><a ng-click="removeRow($index)" class="button alert tiny radius" href="javascript:void(0); ">Remove</a>
                      <%=product_form.hidden_field :id ,value: '{{line_item.id}}'  %>
                      <%=product_form.hidden_field :_destroy ,value: '{{line_item._destroy}}'    %>
                    </td>
                    <td>
                      <%= product_form.text_field :description, id: 'invoice_product_{{$index}}', value: '{{line_item.description}}' %>
                    </td>
                    <td>
                      <%= product_form.text_field :quantity, id: 'invoice_product_{{$index}}' , value: '{{line_item.quantity}}'%>
                    </td>
                    <td>
                      <%= product_form.text_field :price, id: 'invoice_product_{{$index}}' , value: '{{line_item.price}}'  %>
                    </td>
                    <td>
                      <%= product_form.text_field :amount, id: 'invoice_product_{{$index}}' ,value: '{{line_item.amount}}'  %>
                    </td>
                <% end %>
              </tr>

              <!--<tr ng-repeat="line_item in line_items">-->
                <!--<td><a ng-click="removeRow($index)" class="button alert tiny radius" href="javascript:void(0); ">Remove</a></td>-->
                <!--<td><input type="text" name="description" placeholder="description" id="description"  value="{{ line_item.description }}"/></td>-->
                <!--<td><input type="text" name="quantity" id="quantity" value="{{ line_item.quantity }}"/></td>-->
                <!--<td><input type="text" name="rate" id="rate" value="{{ line_item.price }}"/></td>-->
                <!--<td><input type="text" name="amount" id="amount" value="{{ line_item.amount }}" /></td>-->
              <!--</tr>-->
            </table>
            <a ng-click="addRow()" class="button success tiny radius" href="javascript:void(0);">Add row</a>
          </div>
        </div>
        <!--items end-->

        <!--summary starts-->
        <div class="row">
          <div class="large-6 columns"></div>
          <div class="large-6 columns">
            <div class="row collapse">
              <div class="large-6 columns"><span class="prefix">SubTotal</span></div>
              <div class="large-6 columns"><input type="text" name="subtotal" id="subtotal"/></div>
            </div>
            <div class="row collapse">
              <div class="large-6 columns"><span class="prefix">Tax</span></div>
              <div class="large-6 columns"><input type="text" name="subtotal" id="tax"/></div>
            </div>
            <div class="row collapse">
              <div class="large-6 columns"><span class="prefix">Amount Paid</span></div>
              <div class="large-6 columns"><input type="text" name="subtotal" id="amount_paid"/></div>
            </div>
            <div class="row collapse">
              <div class="large-6 columns"><span class="prefix">Balance</span></div>
              <div class="large-6 columns"><input type="text" name="subtotal" id="balance"/></div>
            </div>
          </div>
        </div>
        <!--summary ends-->

      </div>


      <!--sidebar-->
      <div class="large-4 columns">
        <div class="row">
          <div class="large-12 columns"><input type="submit" value="submit"/></div>
          <div class="large-12 columns"><a class="button success radius expand" href="">Download</a></div>
          <div class="large-12 columns"><a class="button success radius expand" href="">Send invoice</a></div>
          <div class="large-12 columns">
            <fieldset>
              <legend>Currency</legend>
              <select>
                <option value="USD">USD</option>
                <option value="Euro">Euro</option>
              </select>
            </fieldset>
            <fieldset>
              <legend>Tax</legend>
              <select>
                <option value="percentage">% Tax</option>
                <option value="flat">Flat</option>
                <option value="off">Off</option>
              </select>
            </fieldset>
            <fieldset>
              <legend>Discount</legend>
              <select>
                <option value="on">On</option>
                <option value="off">Off</option>
              </select>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
<% end %>